<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/orange.png" />
    <link rel="stylesheet" href="../global.css" />
    <title>Worried? Check this out.</title>
    <style>
      .cat {
        height: 200px;
        width: 200px;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <div class="flexCenterVH flex-col">
      <img src="../assets/cat.gif" alt="cat playing" class="cat" />
      <p class="">Can you do something about it?</p>
      <div>
        <a href="/components/endpage.html" rel="noreferrer noopener">
          <button class="btn font-bold">YES</button>
        </a>
        <a href="/components/endpage.html" rel="noreferrer noopener">
          <button class="btn font-bold">NO</button>
        </a>
      </div>
    </div>
  </body>
</html>
